@model H_project1.Models.AccessData.page_login
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>login</title>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/content/assets/Bootstrap/dist/css/bootstrap.css">
    <!-- Main Styles CSS -->
    <!--<link rel="stylesheet" type="text/css" href="css/main.min.css">-->
    <link rel="stylesheet" type="text/css" href="~/content/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/content/assets/css/fonts.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert2/sweetalert2.min.css">


</head>
<body class="landing-page">


    <header>
        <div class="content-bg-wrap"></div>


        <div class="header--standard header--standard-landing" id="header--standard">
            <div class="container">
                <div class="header--standard-wrap">

                    <a href="#" class="logo">
                        <div class="img-wrap">
                            <img src="" alt="logo">
                            <img src="" alt="logo" class="logo-colored">
                        </div>
                        <div class="title-block">
                            <h6 class="logo-title">@Model.pic</h6>
                            <div class="sub-title">SOCIAL NETWORK</div>
                        </div>
                    </a>

                    <a href="#" class="open-responsive-menu js-open-responsive-menu">

                    </a>

                </div>
            </div>
        </div>


    </header>



    <section>
        <div class="header-spacer--standard"></div>

        <div class="container">
            <div class="row display-flex">
                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="landing-content">
                        <h1>@Model.title</h1>
                        <p>
                            @Model.Describtion
                        </p>

                    </div>
                </div>

                <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

                    <!-- Login-Registration Form  -->

                    <div class="registration-login-form">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                                    <svg class="olymp-login-icon"><use xlink:href="~/content/assets/svg-icons/sprites/icons.svg#olymp-login-icon"></use></svg>
                                </a><!--svg-icons/sprites/icons.svg#olymp-login-icon-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                                    <svg class="olymp-register-icon"><use xlink:href="~/content/assets/svg-icons/sprites/icons.svg#olymp-register-icon"></use></svg>
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
                                <div class="title h6">Register to Navid</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">First Name</label>
                                                <input class="form-control" id="Fname" placeholder="" type="text">
                                            </div>
                                        </div>
                                        <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Last Name</label>
                                                <input class="form-control" id="lname" placeholder="" type="text">
                                            </div>
                                        </div>
                                        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Your Email</label>
                                                <input class="form-control" id="email" placeholder="" type="email">
                                            </div>
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Your Password</label>
                                                <input class="form-control" id="password" placeholder="" type="password">
                                            </div>

                                            <div class="form-group date-time-picker label-floating">
                                                <label class="control-label">Your Birthday</label>
                                                <input name="datetimepicker" id="birthday" value="10/24/1900" />
                                                <span class="input-group-addon">
                                                    <svg class="olymp-calendar-icon"><use xlink:href="~/content/assets/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
                                                </span>
                                            </div>

                                            <div class="form-group label-floating is-select">
                                                <label class="control-label">Your Gender</label>
                                                <select class="selectpicker form-control" id="gender">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>

                                            <div class="remember">
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="optionsCheckboxes" id="Conditions" type="checkbox">
                                                        I accept the <a href="#">Terms and Conditions</a> of the website
                                                    </label>
                                                </div>
                                            </div>

                                            <a href="#" onclick="UsersingUp()" class="btn btn-purple btn-lg full-width">Complete Registration!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
                                <div class="title h6">Login to your Account</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Your Email</label>
                                                <input class="form-control" id="username" placeholder="" type="email">
                                            </div>
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Your Password</label>
                                                <input class="form-control" id="password" placeholder="" type="password">
                                            </div>

                                            <div class="remember">
                                                <a href="#" class="forgot">Forgot my Password</a>
                                            </div>

                                            <a href="#" onclick="UserLogin()" class="btn btn-lg btn-primary full-width">Login</a>

                                            <div class="or"></div>

                                           


                                            <p>Don’t you have an account? <a href="#">Register Now!</a> it’s really simple and you can start enjoing all the benefits!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ... end Login-Registration Form  -->
                </div>
            </div>
        </div>

    </section>







    <!-- JS Scripts -->
    <script src="~/content/assets/js/jquery-3.2.1.js"></script>
    <script src="~/content/assets/js/material.min.js"></script>
    <script src="~/content/assets/js/bootstrap-select.js"></script>
    <script src="~/content/assets/js/base-init.js"></script>
    <script src="~/content/assets/Bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- JS Scripts -->

    <script src="~/content/assets/js/jquery.appear.js"></script>
    <script src="~/content/assetsjs/jquery.mousewheel.js"></script>
    <script src="~/content/assets/js/perfect-scrollbar.js"></script>
    <script src="~/content/assets/js/jquery.matchHeight.js"></script>
    <script src="~/content/assets/js/svgxuse.js"></script>
    <script src="~/content/assets/js/imagesloaded.pkgd.js"></script>
    <script src="~/content/assets/js/Headroom.js"></script>
    <script src="~/content/assets/js/velocity.js"></script>
    <script src="~/content/assets/js/ScrollMagic.js"></script>
    <script src="~/content/assets/js/jquery.waypoints.js"></script>
    <script src="~/content/assets/js/jquery.countTo.js"></script>
    <script src="~/content/assets/js/popper.min.js"></script>


    <script src="~/content/assets/js/smooth-scroll.js"></script>
    <script src="~/content/assets/js/selectize.js"></script>
    <script src="~/content/assets/js/swiper.jquery.js"></script>
    <script src="~/content/assets/js/moment.js"></script>
    <script src="~/content/assets/js/daterangepicker.js"></script>
    <script src="~/content/assets/js/simplecalendar.js"></script>
    <script src="~/content/assets/js/fullcalendar.js"></script>
    <script src="~/content/assets/js/isotope.pkgd.js"></script>
    <script src="~/content/assets/js/ajax-pagination.js"></script>
    <script src="~/content/assets/js/Chart.js"></script>
    <script src="~/content/assets/js/chartjs-plugin-deferred.js"></script>
    <script src="~/content/assets/js/circle-progress.js"></script>
    <script src="~/content/assets/js/loader.js"></script>
    <script src="~/content/assets/js/run-chart.js"></script>
    <script src="~/content/assets/js/jquery.magnific-popup.js"></script>
    <script src="~/content/assets/js/jquery.gifplayer.js"></script>
    <script src="~/content/assets/js/mediaelement-and-player.js"></script>
    <script src="~/content/assets/js/mediaelement-playlist-plugin.min.js"></script>


    <script defer src="~/content/assets/fonts/fontawesome-all.js"></script>
    <script src="~/Content/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Scripts/Data/Login.js"></script>


</body>
</html>