
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section style{
<link rel="stylesheet" href="~/Content/sweetalert2/sweetalert2.min.css">
}
<div class="header-spacer header-spacer-small"></div>

<!-- Main Header Account -->
<div class="main-header" style="width: 100% !important; max-width: 100%">
    <div class="content-bg-wrap bg-account"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                <div class="main-header-content">
                    <h1>Your Account Dashboard</h1>
                    <p>
                        Welcome to your account dashboard! Here you’ll find everything you need to change your profile
                        information, settings, read notifications and requests, view your latest messages, change your pasword and much
                        more!, have fun!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="img-bottom" src="/content/assets/img/account-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Account -->

<!-- Your Account Personal Information -->

<div class="container">
    <div class="row">
        <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Change Password</h6>
                </div>
                <div class="ui-block-content">


                    <!-- Change Password Form -->

                    <div >
                        <div class="row">

                            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Confirm Current Password</label>
                                    <input class="form-control is-empty" value="" id="currentpassword" type="password">
                                </div>
                            </div>

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Your New Password</label>
                                    <input class="form-control" placeholder="" id="newpassword" type="password">
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Confirm New Password</label>
                                    <input class="form-control" placeholder="" id="confirmpassword" type="password">
                                </div>
                            </div>

                          

                            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <button class="btn btn-primary btn-lg full-width" type="button" onclick="changepassword()">Change Password Now!</button>
                            </div>

                        </div>
                    </div>

                    <!-- ... end Change Password Form -->
                </div>
            </div>
        </div>

        <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12  responsive-display-none">
            <div class="ui-block">



                <!-- Your Profile  -->

                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Your PROFILE</h6>
                    </div>

                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Profile Settings
                                        <svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                    </a>
                                </h6>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <ul class="your-profile-menu">
                                    <li>
                                        <a href="/User/EditProfile">Personal Information</a>
                                    </li>

                                    <li>
                                        <a href="/User/ChangePassword">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="/User/Hobbies">Hobbies and Interests</a>
                                    </li>
                                    <li>
                                        <a href="/User/EducationAndEmployement">Education and Employement</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="ui-block-title">
                        <a href="/User/Notifications" class="h6 title">Notifications</a>
                        <a href="#" class="items-round-little bg-primary" id="notificationNum"></a>
                    </div>

                    <div class="ui-block-title">
                        <a href="/User/FriendsRequests" class="h6 title">Friend Requests</a>
                        <a href="#" class="items-round-little bg-blue" id="frnum"></a>
                    </div>

                </div>

                <!-- ... end Your Profile  -->


            </div>
        </div>
    </div>
</div>

<!-- ... end Your Account Personal Information -->


@section script{
<script src="~/Content/sweetalert2/sweetalert2.min.js"></script>
<script>
    function changepassword()
    {
       
        if (newpassword.value != confirmpassword.value)
        {
            swal({
                type: 'error',
                title: 'Error',
                html: 'Your confirm password was not match  '
            })
            return;
        }
        $.ajax({
            url: '/User/ChangePassword',
            type: 'POST',
            datatype: 'json',
            data: { CurrentPassword: currentpassword.value, newpassword: newpassword.value }


        }).done(function (data) {

            if (data)
            {
                swal({
                    type: 'success',
                    title: 'Password Changed',
                    html: 'Your Password was changed'
                })

            }
            else
            {
                swal({
                    type: 'error',
                    title: 'Error',
                    html: 'Your password was not change '
                })
            }


        });
    }
    </script>
}