@model IEnumerable<H_project1.Models.AccessData.Notification>
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="header-spacer header-spacer-small"></div>

<!-- Main Header Account -->
<div class="main-header" style="width: 100% !important; max-width: 100%">
    <div class="content-bg-wrap bg-account"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                <div class="main-header-content">
                    <h1>Your Account Dashboard</h1>
                    <p>
                        Welcome to your account dashboard! Here you’ll find everything you need to change your profile
                        information, settings, read notifications and requests, view your latest messages, change your pasword and much
                        more!, have fun!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="img-bottom" src="/content/assets/img/account-bottom.png" alt="friends">
</div>

<div class="container">
    <div class="row">
        <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Notifications</h6>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>


                <!-- Notification List -->

                <ul class="notification-list">
                    @foreach (var item in Model )
                    {
                        <li>
                            @item.NotificationHtml
                            
                        </li>
                    }
                 

                   
                </ul>

                <!-- ... end Notification List -->

            </div>


            <!-- Pagination -->
            <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="/content/assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

            <!-- ... end Pagination -->

        </div>

        <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12  responsive-display-none">
            <div class="ui-block">



                <!-- Your Profile  -->

                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Your PROFILE</h6>
                    </div>

                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Profile Settings
                                        <svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                    </a>
                                </h6>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <ul class="your-profile-menu">
                                    <li>
                                        <a href="/User/EditProfile">Personal Information</a>
                                    </li>

                                    <li>
                                        <a href="/User/ChangePassword">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="/User/Hobbies">Hobbies and Interests</a>
                                    </li>
                                    <li>
                                        <a href="/User/EducationAndEmployement">Education and Employement</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="ui-block-title">
                        <a href="/User/Notifications" class="h6 title">Notifications</a>
                        <a href="#" class="items-round-little bg-primary" id="notificationNum"></a>
                    </div>

                    <div class="ui-block-title">
                        <a href="/User/FriendsRequests" class="h6 title">Friend Requests</a>
                        <a href="#" class="items-round-little bg-blue" id="frnum"></a>
                    </div>

                </div>

                <!-- ... end Your Profile  -->


            </div>
        </div>
    </div>
</div>
